---

- name: Install Updated MySQL GPG Key
  rpm_key:
    key: https://repo.mysql.com/RPM-GPG-KEY-mysql-2022
    state: present

- name: Download MySQL yum repository package (works around forbidden bug)
  get_url:
    url: "{{ mysql_yumrepo_url }}"
    dest: /tmp
    http_agent: curl
    owner: root
    group: root
    mode: '0644'

- name: Install MySQL yum repository
  yum:
    name: "/tmp/{{ mysql_yumrepo_rpm }}"
    state: present

- name: Disable default MySQL repository (EL7)
  command: >
    yum-config-manager --disable mysql{{ mysql_defaultrepo_version }}-community
  when:
   - mysql_defaultrepo_version != mysql_installrepo_version
   - ansible_distribution_major_version == 7

- name: Disable default MySQL repository (EL8)
  command: >
    yum module disable mysql
  when:
   - mysql_defaultrepo_version != mysql_installrepo_version
   - ansible_distribution_major_version == 8

- name: Enable version-specific MySQL repository
  command: >
    yum-config-manager --enable mysql{{ mysql_installrepo_version }}-community
  when: mysql_defaultrepo_version != mysql_installrepo_version
